<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gboard">
<select id="maxNum" resultType="Integer" >
	select NVL(max(boardNum), 0) from groupboard
</select>

<!-- 게시글 생성 -->
<insert id="insertGroupBoard" parameterType="com.sp.group.gboard.GroupBoard">
	insert into groupboard (boardNum, userId, groupName, subject, content)  
         values ( #{boardNum}, #{userId}, #{groupName}, #{subject}, #{content})
</insert>


<insert id="insertGroupBoardFile">
	insert into groupboard(fileNum, boardNum, userId, saveFilename, originalFilename, fileSize)
		 values ( gboardFile_seq.NEXTVAL, #{boardNum}, #{userId}, #{saveFilename}, #{originalFilename}, #{fileSize})
</insert>

<sql id="where-list">
	<if test="searchKey=='subject'">
		DBMS_LOB.INSTR(subject, #{searchValue}) =1
	</if>
	<if test="searchKey=='content'">
		DBMS_LOB.INSTR(content, #{searchValue}) =1
	</if>
	<if test="searchKey=='created'">
		to_char(created, 'YYYY-MM-DD') = #{searchValue}
	</if>
</sql>

<select id="dataCount" parameterType="map" resultType="Integer">
	SELECT NVL(COUNT(*), 0) FROM groupboard b
		join member m 
		ON b.userId = m.userId
	<where>
		groupName =#{groupName}
		<if test="searchValue != null and searchValue !='' ">
		and
			<include refid="where-list" />
		</if>
	</where>
</select>


<select id="listGroupBoard" parameterType="map" resultType="com.sp.group.gboard.GroupBoard">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
 				select boardNum, b.userId, m.userName, subject, content,hitCount, created
  					from groupboard b
  					join member m on b.userId = m.userId
	<where>
			groupName =#{groupName}
		<if test="searchValue != null and searchValue !='' ">
		and
			<include refid="where-list" />
		</if>
	</where>
				ORDER BY boardNum DESC
	<![CDATA[                
            ) tb WHERE ROWNUM <= #{end}
        ) WHERE rnum >= #{start}
	]]>
</select>

<update id="updateHitCount" parameterType="Integer">
		update groupboard set hitCount=hitCount+1
		where boardNum = #{boardNum}
</update>
	
<select id="readGroupBoard" resultType="com.sp.group.gboard.GroupBoard" parameterType="Integer">
	select boardNum, b.userId, userName, subject, content, hitCount, b.created
  		from groupboard b
  		join member m on b.userId = m.userId
  		where boardNum =#{boardNum}
</select>

<select id="preReadGroupBoard" resultType="com.sp.group.gboard.GroupBoard" parameterType="map">
		select tb.* from (
		  select boardNum, subject from groupboard b 
		  	join member m on b.userId = m.userId
		  <where>
		  	<if test="searchValue!= null and searchValue !=''">
		  		<include refid="where-list"/>
		  	</if>
		  	<![CDATA[
		  		and (boardNum > #{boardNum})
		  	]]>
		  </where>
		  order by boardNum ASC
		) tb where ROWNUM=1
</select>
	
<select id="nextReadGroupBoard" resultType="com.sp.group.gboard.GroupBoard" parameterType="map">
		select tb.* from (
		  select boardNum, subject from groupboard b 
		  	join member m on b.userId = m.userId
		  <where>
		  	<if test="searchValue!= null and searchValue !=''">
		  		<include refid="where-list"/>
		  	</if>
		  	<![CDATA[
		  		and (boardNum < #{boardNum})
		  	]]>
		  </where>
		  order by boardNum DESC
		) tb where ROWNUM=1
</select>

<select id="listFile" resultType="com.sp.group.gboard.GroupBoard" parameterType="Integer">
	select boardNum, fileNum, userId, saveFilename, originalFilename, fileSize
	 from groupboardFile
	  where boardNum =#{boardNum}
</select>

<select id="readFile" parameterType="Integer" resultType="com.sp.group.gboard.GroupBoard">
	SELECT  fileNum, boardNum, saveFilename, 
	 originalFilename, fileSize
	  FROM groupboardFile WHERE fileNum=#{fileNum}      
</select>
	
<update id="updateGroupBoard" parameterType="com.sp.group.gboard.GroupBoard">
	UPDATE groupboard SET subject=#{subject},
	  content=#{content}
	   WHERE gbnum=#{gbnum}
</update>
    
<delete id="deleteGroupBoard" parameterType="Integer">
	DELETE FROM groupboard WHERE boardNum=#{boardNum}
</delete>
	
<delete id="deleteFile" parameterType="map">
	DELETE FROM groupboardFile WHERE ${field} = #{boardNum}
</delete>


<insert id="insertReply" parameterType="com.sp.group.gboard.GroupBoardReply">
	insert into groupboardReply ( replyNum, boardNum, userId, content)  
         values ( #{replyNum} #{boardNum}, #{userId}, #{content})
</insert>

<select id="dataCountReply" resultType="Integer" parameterType="Integer">
	   SELECT NVL(COUNT(*), 0)
	        FROM groupboardReply WHERE boardNum=#{boardNum}
	</select>
	
<select id="listReply" resultType="com.sp.group.gboard.GroupBoardReply" 
	          parameterType="map">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT replyNum, boardNum, r.userId, userName 
                      ,content, created
			    FROM groupboardReply r 
	            JOIN member m ON r.userId=m.userId
	            WHERE r.boardNum=#{boardNum}
	            ORDER BY replyNum DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
<delete id="deleteReply" parameterType="Integer">
	DELETE groupboardReply WHERE replyNum=#{replyNum}
</delete>

<delete id="deleteAllReply" parameterType="Integer">
	DELETE groupboardReply WHERE boardNum=#{boardNum}
</delete>

</mapper>