@CHARSET "UTF-8";

ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		border-left: 1px solid #999999;
		width: 100%;
}
ul.tabs li {
		float: left;
		margin: 0;
		cursor: pointer;
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		background: #EFEFEF;
		overflow: hidden;
		position: relative;
}
ul.tabs li:hover {
		background: #CCCCCC;
}	
ul.tabs li.active{
		background: #507CD1;
		color: #FFFFFF;
}
